html { 
    font-size: 16px;
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

* {
    /*border: 1px solid purple;*/
    font-family: "Lucida Grande", Tahoma, sans-serif;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: black;
    color: white;
}

.left-side-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side-nav img {
    margin-right: 10px;
}

.left-side-nav img {
    margin-right: 7px;
}

.logo {
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 30px;
}

.InputAddOn {
    display: flex;
    margin-left: 10px;
}

.InputAddOn-item {
    background-color: white;
}

.search-field {
    flex: 1;
    width: 300px;
    border: none;
}

.nav-font {
    font-size: .75rem;
    margin-right: 22px;
}

.nav-font2 {
    font-size: .75rem;
    margin-right: 10px;
}

.grey-bottom-border {
    border-bottom: .5px solid lightslategray;
}

.grey-right-border {
    border-right: .5px solid lightslategray;
}

.bottom-right-padding {
    padding-bottom: 10px;
}

.right-top-bottom-padding {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.right-ad-heading {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 800;
}

.pic-text-right {
    display: flex;
    align-content: space-between;
    align-items: center;
    border-bottom: .5px solid lightslategray;
}

.pic-right {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.right-text-flex {
    display: flex;
    margin-bottom: 10px;
}

.main-picture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .75rem;
    margin-top: 10px;
}

.main-picture img {
    margin-right: 15px;
}

.left-menu {
    font-size: .75rem;
    padding-left: 10px;
}

.favorites-menu,
.adverts,
.pages,
.apps,
.groups {
    padding-bottom: 10px;
    padding-left: 10px;
}

.right-bold {
    font-size: .65rem;
    font-weight: bold;
}

.right-normal {
    font-size: .65rem;
}

.top-right-padding {
    padding-top: 40px;
}

.right-margin {
    margin-right: 10px;
}

.clear {
    clear: both;
}

.col-1-3ish {
    width: 62%;
}

.col-small {
    width: 18%;
}

.col-1-5ish {
    width: 20%;
}

.col-1-3ish,
.col-small,
.col-1-5ish {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-2,
.col-1-4,
.col-1-5ish {
    padding: 0;
}

.container,
.grid {
    margin: 0;
    width: 100%
}

.container {
    padding: 0 30px;
}