html { 
    font-size: 16px;
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

* {
    border: 1px solid purple;
    font-family: "Lucida Grande", Tahoma, sans-serif;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.left-side-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-side-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side-nav img {
    margin-right: 10px;
}

.left-side-nav img {
    margin-right: 7px;
}

.logo {
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 25px;
}

.InputAddOn {
    display: flex;
}

.InputAddOn-item {
    background-color: white;
}

.search-field {
    flex: 1;
}

.nav-font {
    font-size: .75em;
    margin-right: 22px;
}

.nav-font2 {
    font-size: .75em;
    margin-right: 10px;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-2,
.col-1-4,
.col-1-5 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-2,
.col-1-4,
.col-1-5 {
    padding: 0 15px;
}

.container,
.grid {
    margin: 0 auto;
    width: 960px
}

.container {
    padding: 0 30px;
}